In [16]:
import numpy as np
import pandas as pd

In [17]:
# bus_groupを8つ読み込む
bus_groups = {}
for i in range(8):
    bus_groups[f"bus_group{i+1}"] = pd.read_excel(
        "../data/rust_data_clean.xlsx", sheet_name=i
    )

bus_groups["bus_group1"]

,4403,4404,4405,4406,4407,4408,4409,4410,4411,4412,4413,4414,4415,4416,4417
0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
1,83,83,83,83,83,83,83,83,83,83,83,83,83,83,83
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
9,83,83,83,83,83,83,83,83,83,83,83,83,83,83,83
10,504,537,508,525,586,575,504,524,517,491,483,518,523,531,545
11,2705,570,2953,2507,1069,2596,1929,3079,768,1314,1143,2237,3118,940,905
12,7345,570,7506,5590,5574,7068,6851,7579,5623,5558,4874,6609,8248,5007,5110
13,11591,4699,12056,7905,10279,9552,11176,13139,8762,10319,9467,10743,13144,9208,8941
14,16057,9235,16864,11959,14819,9552,16607,17694,13725,15020,14766,14366,17749,13323,13657
15,20796,13637,20890,15385,18742,9552,22331,21241,18064,19582,18992,19245,22804,18330,17594
16,25299,17366,24925,19142,22962,10589,27372,25864,22696,23758,23631,23842,27282,23118,21170
17,29311,21520,29144,21704,27090,14055,32040,30610,28531,28834,29964,27637,31787,27032,25046
18,34621,25330,33675,25325,32724,18502,38724,36587,33920,33527,35342,33156,36950,32209,28851
19,39738,29111,39164,25748,38393,22910,43782,40674,39953,38300,40776,37356,41983,36674,32405
20,42477,32898,42850,25748,43046,26362,48088,45544,43303,43122,43613,40793,45998,41660,35806
21,47038,37314,48826,26674,46289,31619,52802,50857,48642,46587,48229,45311,50748,46248,39057
22,52917,42512,53828,29321,51053,36302,56899,54946,53555,52006,53088,49142,56224,50131,43719
23,57723,47629,58009,31152,55643,40316,61476,60591,58275,55752,56162,53101,60613,54981,48338
24,63005,52183,63168,34233,59412,46109,67537,65775,62317,60709,60175,57286,65944,58925,53325
25,67321,58300,66932,37480,64405,50127,72579,71554,67822,66117,65437,62091,70750,64687,56927
26,72315,63962,72274,41400,69883,55132,79359,76979,73822,71034,70991,66642,76125,69503,62426
27,75145,67756,77193,44822,74763,59885,84539,80984,78016,76996,75425,71118,80916,73474,66774
28,79329,73190,82443,47244,80394,63437,89747,83764,81457,83086,80302,74699,86590,79438,70233
29,83318,76750,87852,50633,84105,66721,95097,86367,86493,87424,84302,78061,91785,82675,74987
30,87139,82139,92741,54712,86739,69248,100409,90724,91128,93754,89370,82123,96065,87327,78971
31,90723,87215,96007,57620,90150,71968,104848,94355,95272,97777,93012,85432,100788,92258,81774
32,93915,90778,99176,60246,93963,75791,109120,95898,97239,100373,96718,88936,105324,96790,85819
33,97306,95605,103253,62881,97126,79301,114299,98102,98837,103421,101220,93554,108428,100781,90131
34,101288,99782,106585,65643,100022,80777,120151,101423,103872,106467,104336,97378,113621,106094,94311

In [18]:
def create_period_column(df, year_col, month_col, new_col) -> None:
    """指定された年と月の列から新しいPeriod列を作成する。

    Args:
        df (DataFrame): 処理するデータフレーム。
        year_col (str): 年のデータを含む列の名前。
        month_col (str): 月のデータを含む列の名前。
        new_col (str): 新しく作成するPeriod列の名前。
    """
    condition = df[year_col].notna() & df[month_col].notna()
    df.loc[condition, new_col] = pd.to_datetime(
        df.loc[condition, year_col].astype(int).astype(str)
        + "-"
        + df.loc[condition, month_col].astype(int).astype(str),
        format="%Y-%m",
    ).dt.to_period("M")
    df.drop(columns=[year_col, month_col], inplace=True)

In [19]:
bus_groups_replaceinfo = pd.DataFrame()
for i in range(8):
    bus_replaceinfo = bus_groups[f"bus_group{i+1}"][0:10].T
    bus_replaceinfo["group"] = str(i + 1)
    bus_groups_replaceinfo = pd.concat(
        [bus_groups_replaceinfo, bus_replaceinfo], axis=0
    )

bus_groups_replaceinfo = bus_groups_replaceinfo.replace(0, np.nan)
bus_groups_replaceinfo.reset_index(inplace=True)
bus_groups_replaceinfo.rename(
    columns={
        "index": "bus_name",
        0: "month_purchased",
        1: "year_purchased",
        2: "month_1st_rep",
        3: "year_1st_rep",
        4: "odometer_1st",
        5: "month_2and_rep",
        6: "year_2and_rep",
        7: "odometer_2and",
        8: "month_data_begins",
        9: "year_data_begins",
    },
    inplace=True,
)

cols = ["year_purchased", "year_1st_rep", "year_2and_rep", "year_data_begins"]
for col in cols:
    bus_groups_replaceinfo[col] = bus_groups_replaceinfo[col].apply(
        lambda x: x if x == np.nan else 1900 + x
    )

create_period_column(
    bus_groups_replaceinfo, "year_purchased", "month_purchased", "purchase_date"
)
create_period_column(
    bus_groups_replaceinfo, "year_1st_rep", "month_1st_rep", "1st_rep_date"
)
create_period_column(
    bus_groups_replaceinfo, "year_2and_rep", "month_2and_rep", "2and_rep_date"
)
create_period_column(
    bus_groups_replaceinfo, "year_data_begins", "month_data_begins", "data_begins_date"
)

bus_groups_replaceinfo

,bus_name,odometer_1st,odometer_2and,group,purchase_date,1st_rep_date,2and_rep_date,data_begins_date
0,4403,NaN,NaN,1,1983-05,NaT,NaT,1983-05
1,4404,NaN,NaN,1,1983-05,NaT,NaT,1983-05
2,4405,NaN,NaN,1,1983-05,NaT,NaT,1983-05
3,4406,NaN,NaN,1,1983-05,NaT,NaT,1983-05
4,4407,NaN,NaN,1,1983-05,NaT,NaT,1983-05
...,...,...,...,...,...,...,...,...
157,4252,190700.0,NaN,8,1972-02,1976-05,NaT,1974-12
158,4253,151500.0,334400.0,8,1972-02,1977-01,1984-09,1974-12
159,4254,168400.0,NaN,8,1972-02,1976-03,NaT,1974-12
160,4255,132000.0,NaN,8,1972-02,1976-01,NaT,1974-12
161,4256,140500.0,NaN,8,1972-02,1977-09,NaT,1974-12

In [20]:
features = [
    "bus_name",
    "group",
    "purchase_date",
    "1st_rep_date",
    "odometer_1st",
    "2and_rep_date",
    "odometer_2and",
    "data_begins_date",
]
bus_groups_replaceinfo = bus_groups_replaceinfo[features]
bus_groups_replaceinfo.to_csv("../data/bus_groups_replaceinfo.csv", index=False)